.navbar {
    height: 60px;
    width: 100%;
    background-color: lightpink;
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 24px;
    box-sizing: border-box;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10000;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.navbar-title {
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    font-style: italic;
    font-family: cursive;
}

.navbar-link {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 6px;
    transition: background-color 0.2s;
}

.navbar-link:hover {
    background-color: #374151;
}

.navbar-user {
    font-size: 15px;
    color: white;
}

.logout-btn {
    background-color: #ef4444;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #dc2626;
}